@font-face {
    font-family: "Trueno";
    src: url("/fonts/TruenoExtraBold.otf") format("truetype");
    font-weight: 400;
  }

.header {
	top:20px;
}

body{
    box-sizing: border-box;
    padding: 30px 500px 0px 500px;
}

.main {
	padding-top:100px;
}

html * {
    background-color: rgba(246,246,236,255);
}

input{
    display: none;
}

h1{
    display: flex;
    justify-content: left;
    align-content: center;
    font-family: 'Trueno', sans-serif;
    font-size: 40px;
    padding: 0;
}

img{
    visibility: hidden;
    width: 400px;
    height: 0px;
    transition: 0.15s ease-in-out;
}

.block{
    display: flex;
    justify-content: left;
    align-content: center;
    font-family: 'Trueno', sans-serif;
    color:dodgerblue;
    font-size: 22px;
    padding: 5px 0;
    min-height: 40px;
}

.block:hover #open{
    visibility: visible;
}

.block:hover{
    color:black;
}

.content{
    height: 100%;
    width: 100%;
    padding: 10px 0px;
}

.content label img{
    width: 20px;
    height: 20px;
    display: inline;
    justify-content: right;
    float: right;
}

.meme{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-div{
    width: 5%;
    display: flex;
    justify-content: right;
}

.icon{
    width: 20px;
    height: 20px;
}

.window:hover img#open{
    visibility: visible;
}

input[type="checkbox"]:checked + .content .meme img{
    visibility: visible;
    width: 400px;
    height: 400px;
}

input[type="checkbox"]:checked ~ .content label #open{  
    transform: rotate(45deg) scale(0.8);
}

@media (hover: hover){ 

}

@media (max-width: 320px){
    .block{
        font-size: 5px;
    }
}

@media (max-width: 820px){
    .block{
        font-size: 9px;
    }
}

@media (max-width: 1920px){
    .block{
        font-size: 18px;
    }
}