@font-face {
    font-family: "Trueno";
    src: url("/fonts/TruenoExtraBold.otf") format("truetype");
    font-weight: 400;
  }

.header {
	top:20px;
}

body{
    box-sizing: border-box;
    padding: 10px 450px;
}

.main {
	padding-top:100px;
}

html * {
	position:relative;
}

h1{
    display: flex;
    justify-content: left;
    align-content: center;
    font-family: 'Trueno', sans-serif;
    font-size: 30px;
    padding: 0;
}

img{
    visibility: hidden;/**/
    width: 100px;
    height: 100px;
}

.block{
    display: flex;
    justify-content: left;
    align-content: center;
    font-family: 'Trueno', sans-serif;
    color:dodgerblue;
    font-size: 16px;
    padding: 5px 0;
}

.block:hover #close{
    display: none;
}

.block:hover #open{
    visibility: visible;
}

.block:hover{
    color:black;
}

.content{
    height: 100%;
    /*width: 90%;*/
}

.img-div{
    flex: 1 1 auto;
    display: flex;
    justify-content: right;
}

.icon{
    width: 20px;
    height: 20px;
}

.meme{
    width: 10px;
    height: 10px;
}

.window:hover img.icon{
    /*visibility: visible;*/
}
